<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>TEST GENERATOR</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>

    {% for entry in entries %}
    <li><em>There is an error in your file in line {{entry}}. Select another file with questions.</em></li>
    {% else %}
    <li><em>Select file with questions</em></li>
    {% endfor %}


    <form method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Preview>
    </form>


  



 
    <!--<input type="radio" name="options" id="option1" value="option1"> Option1 </input><br>-->

    
</body>
 
</html>