<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>TEST GENERATOR</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>

<body>

   Provide number of different versions of the test::


    <form action="" method="POST">
        <input type="text" name="text5">
        <input type="submit" name="my-form" value="Generate Tests!">
    </form>

 
    <!--<input type="radio" name="options" id="option1" value="option1"> Option1 </input><br>-->

    
</body>
 
</html>